@model TextManipulator.ViewModels.TextManipulatorFormViewModel

<br />
@using (Html.BeginForm("Manipulate", "TextManipulators"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Text)
        @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Text)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SelectedAlgorithm)
        @Html.DropDownListFor(m => m.SelectedAlgorithm, new SelectList(Model.AvailableAlgorithms), "Select", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SelectedAlgorithm)
    </div>

    <button type="submit" class="btn btn-primary">Manipulate</button>

    <br />
    <br />

    <div class="form-group">
        @Html.LabelFor(m => m.AlgorithmOutput.Result)
        @Html.TextBoxFor(m => m.AlgorithmOutput.Result, new { @class = "form-control", @readonly = "readonly" })
    </div>
}

